<script>
window.onload = atthebeginning();
function atthebeginning() {
	selMS(document.getElementById("miniserver"));
	document.getElementById("do").disabled = true;
	//enablesubmit();
}

function selMS(selobject)
{
    if (window.XMLHttpRequest)
    {
        // AJAX nutzen mit IE7+, Chrome, Firefox, Safari, Opera
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        // AJAX mit IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
        	var MS = eval('('+xmlhttp.responseText+')');
          document.getElementById("msudpport").value=MS.UDPPort;
          $('#msenabled').val(MS.SendData).flipswitch('refresh');
          $("#do").prop('disabled', true);
          $("#do").button('refresh');
        }
    }
    document.getElementById("msudpport").value="";
    selectedMS = selobject.options[selobject.selectedIndex].value;
    xmlhttp.open("GET","/admin/plugins/<!--$psubfolder-->/selMS.cgi?MS="+selectedMS,true);
    xmlhttp.send();
}
function enablesubmit()
{
	$("#do").removeAttr('disabled');
	$("#do").button('refresh');
}
</script>

<div role=\"main\" class=\"ui-content\">
<div class=\"ui-body ui-body-a ui-corner-all loxberry-logo\">
<div style=\"margin: 5%;\">

<h2>Einstellungen</h2>
									<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
										<input type="hidden" name="savedata" id="savedata" value="1">
											<div class="form-group">
												<table class="formtable" border="0" width="100%">
													<tr>
														<td width="25%">
															<label id="labelfbip">Fritzbox-IP:</label>
														</td>
														<td width="50%">
															<input id="fritzboxip" name="fritzboxip" type="text" class="textfield"
																value="<!--$FritzboxIP-->" data-validation-error-msg="* Bitte die Fritzbox IP-Adresse angeben">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelms">MiniServer:</label>
														</td>
														<td width="50%">
															<select id="miniserver" name="miniserver" data-mini="true" onchange="selMS(this);">
<!--$MSselectlist-->
															</select>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelmsudpport">MiniServer UDP-Port:</label>
														</td>
														<td width="50%">
															<input id="msudpport" name="msudpport" type="text" onchange="enablesubmit();" class="textfield"
																value="" data-validation-error-msg="* Bitte den MiniServer UDP-Port angeben">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelmsenabled">Daten an diesen MS senden:</label>
														</td>
														<td width="50%">
														<fieldset onclick="enablesubmit()">
																<select id="msenabled" name="msenabled" data-role="flipswitch">
																	<option value="0">Aus</option>
																	<option value="1">An</option>
																</select>
															</fieldset>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">&nbsp</td>
														<td width="50%">
															<input id="do" name="do" type="submit" value="Angaben speichern">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>		
											</table>
										</div>
									</form>
<h2>Einrichtungshilfe</h2>
									<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
										<input type="hidden" id="lang" name="lang" value="<!--$lang-->">
											<div class="form-group">
												<table class="formtable" border="0" width="100%">
											</table>
										</div>
									</form>
<script>
		var $messages = $('#form-error-message');
		$.validate({
			modules : 'security',
			errorMessagePosition : $messages,
		});
</script>
</div>
</div>
</div>
