<script>
$('document').ready(atthebeginning);
function atthebeginning() {
	selMS(document.getElementById("miniserver"));
	document.getElementById("do").disabled = true;
	//enablesubmit();
	checkFB(true);
	setDECTSwitchCommands(document.getElementById("DECTswList"));
	setDECTHkrCommands(document.getElementById("DECTHkrList"));
}

function setDECTSwitchCommands(selobject) {
	if ($("#DECTswList option").size() > 0) {
		selAIN=selobject.options[selobject.selectedIndex].value;
		document.getElementById("DECTswON").innerHTML = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTswitchON&DECTAIN=" + selAIN;
		document.getElementById("DECTswON").href = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTswitchON&DECTAIN=" + selAIN;
		document.getElementById("DECTswOFF").innerHTML = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTswitchOFF&DECTAIN=" + selAIN;
		document.getElementById("DECTswOFF").href = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTswitchOFF&DECTAIN=" + selAIN;
		document.getElementById("DECTInfo").innerHTML = "http://<TMPL_VAR lxbUser>:DEIN-<TMPL_VAR lxbUser>-PASSWORT@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTgetInfo&DECTAIN=" + selAIN;
		document.getElementById("DECTInfo").href = "http://<TMPL_VAR lxbUser>:DEIN-<TMPL_VAR lxbUser>-PASSWORT@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTgetInfo&DECTAIN=" + selAIN;
	}
}

function setDECTHkrCommands(selobject) {
	if ($("#DECTHkrList option").size() > 0) {
		selAIN=selobject.options[selobject.selectedIndex].value;
		NewTemp = document.getElementById("HkrTemp").value;
		document.getElementById("DECTsetHkr").innerHTML = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTsetHkrTemp&DECTAIN=" + selAIN + "&value=&lt;v&gt;";
		document.getElementById("DECTsetHkr").href = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTsetHkrTemp&DECTAIN=" + selAIN + "&value=" + NewTemp;
		//document.getElementById("DECTsetHkrComf").innerHTML = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTsetHkrComfTemp&DECTAIN=" + selAIN + "&value=&lt;v&gt;";
		//document.getElementById("DECTsetHkrComf").href = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTsetHkrComfTemp&DECTAIN=" + selAIN + "&value=" + NewTemp;
		//document.getElementById("DECTsetHkrRed").innerHTML = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTsetHkrRedTemp&DECTAIN=" + selAIN + "&value=&lt;v&gt;";
		//document.getElementById("DECTsetHkrRed").href = "/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTsetHkrRedTemp&DECTAIN=" + selAIN + "&value=" + NewTemp;
		document.getElementById("DECTHkrInfo").innerHTML = "http://<TMPL_VAR lxbUser>:DEIN-<TMPL_VAR lxbUser>-PASSWORT@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTgetInfo&DECTAIN=" + selAIN;
		document.getElementById("DECTHkrInfo").href = "http://<TMPL_VAR lxbUser>:DEIN-<TMPL_VAR lxbUser>-PASSWORT@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=DECTgetInfo&DECTAIN=" + selAIN;
	}
}

function selMS(selobject)
{
    $('#msudpport').val("");
    selectedMS = $('#miniserver').val();
    $.get("/admin/plugins/<TMPL_VAR psubfolder>/selMS.cgi",{MS:selectedMS})
	    .done(function(data){
		    $("#msudpport").val(data.UDPPort);
		    $("#msenabled").val(data.SendData).flipswitch('refresh');
		    $("#do").prop("disabled",true);
		    $("#do").button('refresh');
	    });

}
function enablesubmit()
{
	$("#do").removeAttr('disabled');
	$("#do").button('refresh');
}

function checkFB(start)
{
    var FBIP = $("#fritzboxip").val();
    var FBLogin = $("#fblogin").val();
    var FBPass = $("#fbpass").val();
    var PBselected = <TMPL_VAR PBSELECTED>;
    var selectPB = "";
    $.get("/admin/plugins/<TMPL_VAR psubfolder>/checkFB.php",{fbIP:FBIP, fbLogin:FBLogin, fbPass:FBPass})
	.done(function(data){
		$('#pblist').empty();
		if (data.Phonebooks > 0) {
			$('#fbusepb').flipswitch('enable');
			$('#pblist').removeAttr('disabled');
			var option='';
			for (var i=0; i < data.Phonebooks; i++)
			{
				if ((data[i].ID == PBselected && start == true) || (i == 0 && start == false)) {
					selectPB = data[i].ID;
				}
				option += '<option value="'+ data[i].ID + '">' + data[i].Name + '</option>';
			}
			$('#pblist').append(option);
			$('#pblist').val(selectPB).change();
		} else {
			if (start == false) $('#fbusepb').val(0).flipswitch('refresh');
			$('#fbusepb').flipswitch('disable');
			$('#pblist').val('').change();
			$('#pblist').attr('disabled','disabled');
		}
	});
}
</script>

<div role=\"main\" class=\"ui-content\">
<div class=\"ui-body ui-body-a ui-corner-all loxberry-logo\">
<div style=\"margin: 5%;\">

<h2><TMPL_VAR HEADER.SETTINGS></h2>
									<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
										<input type="hidden" name="savedata" id="savedata" value="1">
											<div class="form-group">
												<table class="formtable" border="0" width="100%">
													<tr>
														<td width="25%">
															<label id="labelfbip"><TMPL_VAR LABEL.FBIP></label>
														</td>
														<td width="50%">
															<input id="fritzboxip" name="fritzboxip" type="text" class="textfield" oninput="enablesubmit();" onchange="checkFB(false);"
																value="<TMPL_VAR FritzboxIP>" data-validation-error-msg="<TMPL_VAR ERROR.FBIP>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelfblogin"><TMPL_VAR LABEL.FBLOGIN></label>
														</td>
														<td width="50%">
															<input id="fblogin" name="fblogin" type="text" class="textfield" oninput="enablesubmit();" onchange="checkFB(false);"
																value="<TMPL_VAR FBLogin>" data-validation-error-msg="<TMPL_VAR ERROR.FBLOGIN>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelfbpass"><TMPL_VAR LABEL.FBPASS></label>
														</td>
														<td width="50%">
															<input id="fbpass" name="fbpass" type="text" class="textfield" oninput="enablesubmit();" onchange="checkFB(false);"
																value="<TMPL_VAR FBPass>" data-validation-error-msg="<TMPL_VAR ERROR.FBPASS>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelfbusepb"><TMPL_VAR LABEL.USEFBPHONEBOOK></label>
														</td>
														<td width="50%">
														<fieldset onclick="enablesubmit();">
																<select id="fbusepb" name="fbusepb" data-role="flipswitch">
																	<option <TMPL_VAR FBusePbno> value="0"><TMPL_VAR LABEL.USEFBPBNO></option>
																	<option <TMPL_VAR FBusePbyes> value="1"><TMPL_VAR LABEL.USEFBPBYES></option>
																</select>
															</fieldset>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelphonebook"><TMPL_VAR LABEL.PHONEBOOK></label>
														</td>
														<td width="50%">
														<fieldset onclick="enablesubmit();">
															<select id="pblist" name="pblist" data-mini="true">
																<!-- autoload via AJAX -->
															</select>
															</fieldset>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelms"><TMPL_VAR LABEL.MSNAME></label>
														</td>
														<td width="50%">
															<select id="miniserver" name="miniserver" data-mini="true" onchange="selMS(this);">
<TMPL_VAR MSselectlist>
															</select>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelmsudpport"><TMPL_VAR LABEL.MSUDPPORT></label>
														</td>
														<td width="50%">
															<input id="msudpport" name="msudpport" type="text" oninput="enablesubmit();" class="textfield"
																value="" data-validation-error-msg="<TMPL_VAR ERROR.MSUDPPORT>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelmsenabled"><TMPL_VAR LABEL.SENDDATATOMS></label>
														</td>
														<td width="50%">
														<fieldset onclick="enablesubmit()">
																<select id="msenabled" name="msenabled" data-role="flipswitch">
																	<option value="0"><TMPL_VAR LABEL.SENDDATANO></option>
																	<option value="1"><TMPL_VAR LABEL.SENDDATAYES></option>
																</select>
															</fieldset>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">&nbsp;</td>
														<td width="50%">
															<input id="do" name="do" type="submit" value="<TMPL_VAR LABEL.SAVEDATA>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">&nbsp;</td>
														<td width="50%">
															<button onclick="window.open('<TMPL_VAR LOGURL>', 'log'); return false;"><TMPL_VAR LABEL.SHOWLOG></button>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
											</table>
										</div>
									</form>
<TMPL_VAR restartMsg>
<h2><TMPL_VAR LABEL.CONFHINTS></h2>
<h3><TMPL_VAR LABEL.QUERYDSLDATA></h3>
<table border=0>
	<tr>
		<td colspan=2>
			<b><TMPL_VAR LABEL.VINPUT> <TMPL_VAR LABEL.INCONFIG></b>
		</td>
	</tr>
	<tr>
		<td>
			<TMPL_VAR LABEL.ADDRESS>
		</td>
		<td>
			<a href="http://<TMPL_VAR lxbUser>:<TMPL_VAR LABEL.YOUR>-<TMPL_VAR lxbUser>-<TMPL_VAR LABEL.PASSWORD>@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=WANgetInfo" target="_blank">http://<TMPL_VAR lxbUser>:DEIN-<TMPL_VAR lxbUser>-PASSWORT@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=WANgetInfo</a>
		</td>
	</tr>
</table>
<h3><TMPL_VAR LABEL.QUERYWANIP></h3>
<table border=0>
	<tr>
		<td colspan=2>
			<b><TMPL_VAR LABEL.VINPUT> <TMPL_VAR LABEL.INCONFIG></b>
		</td>
	</tr>
	<tr>
		<td>
			<TMPL_VAR LABEL.ADDRESS>
		</td>
		<td>
			<a href="http://<TMPL_VAR lxbUser>:<TMPL_VAR LABEL.YOUR>-<TMPL_VAR lxbUser>-<TMPL_VAR LABEL.PASSWORD>@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=WANgetIPInfo" target="_blank">http://<TMPL_VAR lxbUser>:DEIN-<TMPL_VAR lxbUser>-PASSWORT@<TMPL_VAR localip>/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=WANgetIPInfo</a>
		</td>
	</tr>
</table>
<h3><TMPL_VAR LABEL.DEANDACTIVATEWLAN></h3>
<table border=0>
	<tr>
		<td colspan=2>
			<b><TMPL_VAR LABEL.VOUTPUT> <TMPL_VAR LABEL.INCONFIG></b>
		</td>
	</tr>
	<tr>
		<td>
			<TMPL_VAR LABEL.ADDRESS>
		</td>
		<td>
			http://<TMPL_VAR lxbUser>:<TMPL_VAR LABEL.YOUR>-<TMPL_VAR lxbUser>-<TMPL_VAR LABEL.PASSWORD>@<TMPL_VAR localip>
		</td>
	</tr>
	<tr><td colspan=2>&nbsp;</td></tr>
	<tr>
		<td colspan=2>
			<b><TMPL_VAR LABEL.VOUTPUT> <TMPL_VAR LABEL.COMMAND></b>
		</td>
	</tr>
	<tr>
		<td>
			<TMPL_VAR LABEL.COMMANDON>
		</td>
		<td>
		/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=enableWLAN&WLAN=
		</td>
	</tr>
	<tr>
		<td>
		<TMPL_VAR LABEL.COMMANDOFF>
		</td>
		<td>
			/admin/plugins/<TMPL_VAR psubfolder>/FBHelper.php?cmd=disableWLAN&WLAN=
		</td>
	</tr>
	<tr><td colspan=2>&nbsp;</td></tr>
	<tr>
		<td colspan=2>
			<TMPL_VAR LABEL.HINTNUMBERWLAN>
			<ul>
				<li>WLAN=1 : <TMPL_VAR LABEL.WLAN1></li>
				<li>WLAN=2 : <TMPL_VAR LABEL.WLAN2></li>
				<li>WLAN=3 : <TMPL_VAR LABEL.WLAN3></li>
			</ul>
		</td>
	</tr>
</table>
<h3><TMPL_VAR LABEL.SWITCHDECTACTORS></h3>
<form method="post" data-ajax="false" name="sw_form" id="sw_form" action="./index.cgi">
	<input type="hidden" name="savedata" id="savedata" value="0">
	<div class="form-group">
		<table class="formtable" border="0" width="100%">
			<tr>
				<td width="25%">
					<label id="labeldectswitches"><TMPL_VAR LABEL.DECTACTORS></label>
				</td>
				<td width="50%">
					<select id="DECTswList" name="DECTswList" data-mini="true" onchange="setDECTSwitchCommands(this);">
<TMPL_VAR DECTSwitchessellist>
					</select>
				</td>
				<td width="25%">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<b><TMPL_VAR LABEL.VOUTPUT> <TMPL_VAR LABEL.INCONFIG></b>
				</td>
			</tr>
			<tr>
				<td>
					<TMPL_VAR LABEL.ADDRESS>
				</td>
				<td>
					http://<TMPL_VAR lxbUser>:<TMPL_VAR LABEL.YOUR>-<TMPL_VAR lxbUser>-<TMPL_VAR LABEL.PASSWORD>@<TMPL_VAR localip>
				</td>
			</tr>
			<tr><td colspan=2>&nbsp;</td></tr>
			<tr>
				<td colspan=2>
					<b><TMPL_VAR LABEL.VOUTPUT> <TMPL_VAR LABEL.COMMAND></b>
				</td>
			</tr>
			<tr>
				<td>
					<TMPL_VAR LABEL.COMMANDON>
				</td>
				<td colspan=2>
					<a href="" target="_blank" id="DECTswON"></a>
				</td>
			</tr>
			<tr>
				<td>
					<TMPL_VAR LABEL.COMMANDOFF>
				</td>
				<td colspan=2>
					<a href="" target="_blank" id="DECTswOFF"></a>
				</td>
			</tr>
			<tr>
				<td>
					<TMPL_VAR LABEL.VINPUT>:<br /><TMPL_VAR LABEL.QUERYINFORMATIONS>
				</td>
				<td colspan=2>
					<a href="" target="_blank" id="DECTInfo"></a>
				</td>
			</tr>
		</table>
	</div>
</form>
<h3><TMPL_VAR LABEL.HKRDECTACTORS></h3>
<form method="post" data-ajax="false" name="hkr_form" id="hkr_form" action="./index.cgi">
	<input type="hidden" name="savedata" id="savedata" value="0">
	<div class="form-group">
		<table class="formtable" border="0" width="100%">
			<tr>
				<td width="25%">
					<label id="labeldecthkrs"><TMPL_VAR LABEL.DECTHKRS></label>
				</td>
				<td width="50%">
					<select id="DECTHkrList" name="DECTHkrList" data-mini="true" onchange="setDECTHkrCommands(this);">
<TMPL_VAR DECTHkrssellist>
					</select>
				</td>
				<td width="25%">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<b><TMPL_VAR LABEL.VOUTPUT> <TMPL_VAR LABEL.INCONFIG></b>
				</td>
			</tr>
			<tr>
				<td>
					<TMPL_VAR LABEL.ADDRESS>
				</td>
				<td>
					http://<TMPL_VAR lxbUser>:<TMPL_VAR LABEL.YOUR>-<TMPL_VAR lxbUser>-<TMPL_VAR LABEL.PASSWORD>@<TMPL_VAR localip>
				</td>
			</tr>
			<tr><td colspan=2>&nbsp;</td></tr>
			<tr>
				<td colspan=2>
					<b><TMPL_VAR LABEL.VOUTPUT> <TMPL_VAR LABEL.COMMAND></b>
				</td>
			</tr>
			<tr>
				<td>
					<TMPL_VAR LABEL.COMMANDSET>
				</td>
				<td colspan=2>
					<a href="" target="_blank" id="DECTsetHkr"></a>
				</td>
			</tr>
			<!-- tr>
				<td>
					<TMPL_VAR LABEL.COMMANDSETCOMF>
				</td>
				<td colspan=2>
					<a href="" target="_blank" id="DECTsetHkrComf"></a>
				</td>
			</tr>			<tr>
				<td>
					<TMPL_VAR LABEL.COMMANDSETRED>
				</td>
				<td colspan=2>
					<a href="" target="_blank" id="DECTsetHkrRed"></a>
				</td>
			</tr //-->
			<tr>
				<td width="25%">
					<TMPL_VAR LABEL.HKRTEMP>
				</td>
				<td width="50%">
					<input type="text" name="HkrTemp" id="HkrTemp" class="textfield" value="20" oninput="setDECTHkrCommands(document.getElementById('DECTHkrList'));">
				</td>
				<td width="25%">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					<TMPL_VAR LABEL.VINPUT>:<br /><TMPL_VAR LABEL.QUERYINFORMATIONS>
				</td>
				<td colspan=2>
					<a href="" target="_blank" id="DECTHkrInfo"></a>
				</td>
			</tr>
		</table>
	</div>
</form>

<script>
		var $messages = $('#form-error-message');
		$.validate({
			modules : 'security',
			errorMessagePosition : $messages,
		});
</script>
</div>
</div>
</div>
